.mainContent{
  background: linear-gradient(to bottom, #FFFFFF, #DAE3EB); 
    display: flex;
    align-items: flex-start;
    position: sticky;
    align-self: flex-start;
    top:0;
background-color: #93B1A6;
    
}

.customsticky {
    width: 25%;
    overflow: auto;
    overscroll-behavior: contain;
    height: 100%;
    position: sticky;
    left: 0;
    top: 56px;
    grid-area: leftbar;
    color: #6d7c84;
    background-color: #bac7cd;
    margin: 2%;
    border-radius: 10px; /* Add this line to apply rounded corners */
  }
      
    .postList{
        color: #000000;
        line-height: 1.5;
        letter-spacing: 1px;
        word-spacing: 1px;
        text-align: left;
        text-decoration: none;
        text-transform: none;
        width: 75%;
        /* border: 2px solid #ADC4CE; */
        margin-top: 12px;
        /* border-radius: 15px;  */
        height: 20%;       
    }
    .test{
        box-shadow: -1px -2px 6px 4px rgba(30, 40, 179, 0.1);
        display:'grid';
        gap:'20px'
    }
    .individual-post {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    
    
    
    /* /////////////Search Box ////////////// */
    div .home {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        line-height: normal;
        z-index: 2;
      }
   
      div .input1 {
        background-color: rgb(255, 255, 255, 0.6);
        width: 522px;
        height: 48px;
        margin: auto;
        font-size: inherit;
        padding: 0 58px 0 28px;
        border-radius: 30px;
        border: none;
        border: 2px solid #777879;
        outline: 0;
        box-shadow: 2px 4px 8px 0 rgba(92, 91, 91, 0.15);
        transition: all 300ms ease;
      }

      div .CarouselSearch {
        background-color: rgb(255, 255, 255, 0.6);
        width: 50vw;
        height: 48px;
        margin: auto;
        font-size: inherit;
        padding: 0 58px 0 28px;
        border-radius: 30px;
        border: none;
        border: 2px solid #777879;
        outline: 0;
        box-shadow: 2px 4px 8px 0 rgba(92, 91, 91, 0.15);
        transition: all 300ms ease;
      }
      
      div .glass {
        display: inline-block;
        position: relative;
        right: 50px;
        top: 8px;
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
      }
      div .glass:hover {
        cursor: pointer;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        /* * {
          max-width: 100%;
        } */
        div .home {
          text-align: center;
        }
        div .input1 {
          width: 61vw;
          margin-top: 2vh;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }